<html>
    <head>
        <title>Nikita Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="https://vk.com/the_puf">Никита Сергеевич Данильченко</a></h1>
        </div>

        <div>
            <p>Опубликовано: 15.10.2019, 1:09</p>
            <h2><a href="">Моя первая запись</a></h2>
            <p>Создано в пичарме 2019</p>
        </div>

        <div>
            <p>Опубликовано: 15.10.2019, 1:20</p>
            <h2><a href="">Моя вторая запись</a></h2>
            <p>Создано в пичарме 2019</p>
        </div>
    </body>
</html>